@import "~or-theme";

$or-modal-content-padding: $or-gap * 2 $or-gap * 4 !default;

.or-modal-wrapper {
  display: block;
  font-family: $or-font-family;

  .or-modal-mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $or-gray8;
    opacity: 0.7;
  }

  .or-modal {
    position: fixed;
    background-color: white;
    z-index: 99;

    .or-modal-content {
      padding: $or-modal-content-padding;
    }
  }

  &.or-modal-position-center {
    .or-modal {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 3px;

      .or-modal-content {
        padding: $or-modal-content-padding;
      }
    }
  }

  &.or-modal-position-right {
    .or-modal {
      top: 0;
      right: 0;
      height: 100vh;
      overflow: scroll;
    }
  }

  &.or-modal-position-left {
    .or-modal {
      top: 0;
      left: 0;
      height: 100vh;
      overflow: scroll;
    }
  }

  &.or-modal-position-bottom {
    .or-modal {
      top: 0;
      left: 0;
      width: 100vh;
    }
  }
}

.or-modal-mask-transition-enter {
  opacity: 0.01;
}

.or-modal-mask-transition-enter-active {
  opacity: 1;
  transition: all 300ms ease-out;
}

.or-modal-mask-transition-exit {
  opacity: 1;
}

.or-modal-mask-transition-exit-active {
  opacity: 0.01;
  transition: all 300ms ease-out;
}


